# AI Meeting Assistant
# Python >= 3.10 recommended

# Audio / Video
yt-dlp>=2024.4.9
pydub>=0.25.1
ffmpeg-python>=0.2.0
uv pipyaudioop

# Local Whisper
openai-whisper>=20231117
torch>=2.2.0
torchaudio>=2.2.0

# Hindi → English Translation
deep-translator>=1.11.4

# LangChain LCEL + Gemini
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-google-genai
langchain-text-splitters>=0.2.0

# RAG
chromadb

# Streamlit
streamlit>=1.35.0

# PDF Export
fpdf2>=2.7.9

# Utilities
python-dotenv>=1.0.0
numpy>=1.26.0
tqdm>=4.66.0
requests>=2.32.0

#uv pip install -r requirements.txt